@media screen and (max-width: 768px) {
    .logofooter img {
        width: 100% !important;
    }
}

footer>:nth-child(1) {
    padding: 40px 40px 40px 40px;
}

@media screen and (max-width: 480px) {
    footer>:nth-child(1) {
        padding: 40px 0px 40px 0px;
    }

}

.contactDetails {
    width: 33%;
}

@media screen and (max-width:768px) {
    .footerSection {
        flex-direction: column;
        gap: 25px;
    }

    .contactDetails {

        width: 100%;
    }

    .socialIcons {
    width: 100% !important;
    
    }
}